/* Empty. Add your own CSS if you like */
@font-face{
    font-family: 'mapolice';
    src: url('FOREVER 7eventy demo.otf') format('otf');
}

.home {
    background-image: url('../img/homeFaim.jpg') ;
    background-size : 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}

.homeFirst {
    background-image: url('../img/homeFaim.jpg') ;
    background-size : 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}

.bouton{
    top: 65%;
}

.angular-google-map-container { 
  height: 100%; 
}

.marker-labels {
  width: 160px;
  padding: 10px;  
  background: #fff;
  border-radius: 5px;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}