<ion-view view-title="你这吃货" has-header="false" hide-nav-bar="true">
    
    
    
    
    <ion-content overflow-scroll="false" class="home">
      
         
        
    </ion-content>
    
    <ion-content overflow-scroll="false">
        
        
         <h2 style="padding-top: 150px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-family: 'Gabriela';
    font-size: 45px;
    letter-spacing: .10em;
    text-align: center;
     text-shadow: 10px 10px 10px #111;
     font-weight: bold;">T'as faim ?</h2> 
     
    </ion-content>
    
    <ion-content overflow-scroll="false" class="bouton">
        
        
        
        </br>
           </br>
              </br>
                   </br>    
    
        <button class="button button-full button-calm  " style="filter:alpha(opacity=50);
	-moz-opacity:0.7;
	opacity: 0.7;
	background-color:#000; 
        font-weight: bold;  " ng-click="loginModal.show()"> 登陆</button>
        
        <button class="button button-full button-calm  " style="filter:alpha(opacity=50);
	-moz-opacity:0.7;
	opacity: 0.7;
	background-color:#000; 
        font-weight: bold;" ng-click="inscrireModal.show()">注册</button>
        
     
     </ion-content>
    
</ion-view>