<ion-nav-bar></ion-nav-bar>
<ion-nav-view>
    <ion-view view-title="发现">
        <ion-content class="scroll-content ionic-scroll overflow-scroll h   as-header">
            <div class="scroll">
                <div class="list card">

                    <div class="item item-avatar">
                        <img src="https://yt3.ggpht.com/-aAVvKGGUrWo/AAAAAAAAAAI/AAAAAAAAAAA/mJRTRkxr2XE/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
                        <h2>名字</h2>
                        <p>日期</p>
                    </div>

                    <div class="item item-body">
                        <img class="full-image" src="http://4.bp.blogspot.com/_0smy438e4OI/TR_95pdcXFI/AAAAAAAAKh8/LfSPvUuPO_A/s400/96510fb3d44d4ce5d9335acf.jpg">
                        <p>
                            太他妈的好吃了
                        </p>
                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>

                </div>
                <div class="list card" >
                    <div class="item item-image"> <!-- 天天特价图片-->
                        <img src="http://4.bp.blogspot.com/_0smy438e4OI/TR_95pdcXFI/AAAAAAAAKh8/LfSPvUuPO_A/s400/96510fb3d44d4ce5d9335acf.jpg"/>
                    </div>

                <div class="list card">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" auto-play="true">

                        <ion-slide>
                            <div class="item item-image" style="height:100px; width:100px;">
                                <img src="https://yt3.ggpht.com/-aAVvKGGUrWo/AAAAAAAAAAI/AAAAAAAAAAA/mJRTRkxr2XE/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
                            </div>
                        </ion-slide>
                        
                        <ion-slide>
                            <div class="item item-image" style="height:100px; width:100px;">
                                <img src="https://yt3.ggpht.com/-aAVvKGGUrWo/AAAAAAAAAAI/AAAAAAAAAAA/mJRTRkxr2XE/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
                            </div>
                        </ion-slide>
                        
                        <ion-slide>
                            <div class="item item-image" style="height:100px; width:100px;">
                                <img src="https://yt3.ggpht.com/-aAVvKGGUrWo/AAAAAAAAAAI/AAAAAAAAAAA/mJRTRkxr2XE/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
                            </div>

                        </ion-slide>
                    </ion-slide-box>

                </div>
                </div>

        </ion-content>
    </ion-view>
</ion-nav-view>