<ion-view view-title="玩玩" class="wanwan-dash" hide-nav-bar="true">
    
    
    
  <ion-content class="padding" class="wanwan-dash">
      </br>
    </br>
    </br>
      <center>
         
    
    </br>
    </br> </br>
    </br>
    </br>
    </br> </br>
    </br>
    </br>
    </br> </br>
    </br></br>
    </br>
    
    
    
    <button class="button button-outline  button-large button-light"style="font-weight: bold;" ng-click="CreeEven()">
  发布活动
</button>
    </br>
    </br>
    <button class="button button-large button-outline button-light" style="font-weight: bold;" ng-click="Participer()">
  参加活动
</button>
  </center>
  </ion-content>
</ion-view>
