<ion-view view-title="玩玩" class="wanwan-dash" hide-nav-bar="true">
    
    
   
  <ion-content class="padding">
      
      <div class="buttons">
    <button class="button  button-light  button-outline " ng-click="retour()">返回</button>
  </div>
      </br>
      
 
  
      
      <div class="list">

   <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="活动名字">
      </label>
   </div>
          
   <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <SELECT name="分类" size="1">
        <OPTION>运动
        <OPTION>休闲
        <OPTION>游戏
       </SELECT>
      </label>
   </div>
          
          <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="活动时间">
      </label>
   </div>
          <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="等待时间">
      </label>
   </div>
          <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="人数">
      </label>
   </div>
          <div class="item item-input-inset">
      <label class="item item-input-wrapper">
      <i class="icon ion-edit placeholder-icon"></i>
      <input type="text" placeholder="活动地点">
      </label>
   </div>
</div>
      
        <div class="buttons">
    <button class="button button-full button-positive  " ng-click="publier()">发布</button>
  </div>
      
  </ion-content>
</ion-view>

